/* Overlay CSS Start */
.overlay{
	height: 100%;
	background-color: #000;
	opacity : 0.3;
	filter: alpha(opacity = 30);
	position: fixed;
	z-index: 1132;
	width: 100%;
	
}

.overlay-body{
	background-color: #ecf0f5;
	height: 100%;
	width: 80%;
	z-index: 1133;	
	position: fixed;
	left: 100%;	
	overflow: auto;	
	bottom: 0px;
}

.tab-close{
	height: 60px;
	width: 45px;
	background-image: url("../../img/tab-first.png");
	left: -45px;
	cursor: pointer;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
}

.btn-close{
	position: relative;
	left: 22px;
	top: 22px;
}
/* Overlay CSS End */

/* Overlay Header Start */

.file-name-header{
	position: fixed;
	border-bottom: 1px solid #eee;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
/* 	padding: 15px 0px 10px 20px; */
/* 	margin: 0 0 10px 0; */
	z-index: 1;
	width: 80%;
	background: #FBFBFB;
	opacity: 0.95;
	filter: alpha(opacity = 95)
}
.popup-header-text{
	font-size: 17px;
/* 	color: #2a6496; */
}
.overlay-body > ul{
	top: 65px;
	margin-left: 15px;
}

.timeline > .time-label{
	cursor: pointer;
}

.overlay-content{
	margin-top: 55px;
}

.display-none{
	display: none;
}

.centered{
	text-align: center;
}

.padding-top{
	padding-top: 15px;
}

.label-margin{
	margin: 0 2px;
}

.adjust-header-text{
	margin: 0px 5px 6px 0px;
}

.vertical-align-bottom{
	vertical-align: bottom;
}
.overlay-file-name-div{
	margin-top: 50px
}
.overlay-file-name-text{
	padding: 10px 0px 0px 15px;
	font-size: 16px
}

.overlay-header-btn-margin-right{
	margin-right: 20px;
}
/* Overlay Header End */